<!doctype html>
<html ng-app="MyAngularApp">
  <head>
  	<title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-controller="MyController">
  	<form ng-submit="sendMessage()">
  		<input type="text" ng-model="newMessage" placeholder="Here you message">
  		<input type="submit" value="Send message">
  	</form>
  	<br><br>
  	<ul>
  		<li ng-repeat="message in messages">
  			{{message}}
  		</li>
  	</ul>
  </body>
</html>